/* Fonts */
@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik.ttf);
}

/* Global variables */
:root {
    /* colours */
    --green: #77c443;
    --blue: #3078d9;
    --grey: #333;
    --background: #f4f4f4;
    --white: #fff;

    /* sizes */
    --primary-size: 56px;
}

/* XS */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--grey);
    font-family: Rubik, Helvetica, sans-serif;
}

nav {
    background-color: var(--green);
    text-align: center;
    display: block;
}

.hr {
    background-color: var(--grey);
    width: calc(100% - 50px);
    clear: both;
    padding: 5px 0;
    margin: 25px 25px 50px 25px;
    border-width: 5px;
}

.main-picture {
    background-color: var(--white);
    margin: 30px 0;
    aspect-ratio: 1.5 / 1;
}

.image-section {
    display: block;
    object-fit: cover;
    object-position: center center;
}

.image-section.about-me-illustration {
    object-position: top center;
}

.image-section:not(.full-width) {
    margin: 25px auto;
}

.image-section.full-width {
    margin-top: 25px;
    width: 100%;
}

.text-container {
    text-align: justify;
    margin: 0px 25px;
}

.text-container p {
    font-size: 13pt;
    margin: 25px 0;
}

.about-me-illustration {
    max-height: 300px;
}

.text-container h1 {
    font-size: 30pt;
    font-weight: 350;
    margin: 25px 0;
}

section.banner {
    margin-bottom: 50px;
}

.text-container h2 {
    margin: 25px 0;
    font-weight: 320;
    font-size: 25pt;
}

.extra-info h1 {
    font-size: 25pt;
    margin-top: 15px;
}

.extra-info {
    padding: 15px 0;
    background-color: var(--blue);
    color: var(--white);
}

.contact-photo {
    border: solid 10px var(--grey);
    border-radius: 50%;
    display: block;
    margin: auto;
    height: 250px;
}

#languages, #contact {
    padding: 25px 0;
    color: var(--white);
    background-color: var(--grey);
}

footer {
    margin: 50px 0;
}

.contact-wrapper {
    margin-top: 50px;
}

#contact {
    /* image size + half of the border size */
    margin-top: calc(-1 * calc(calc(250px / 2) + calc(10px/2)));
    padding-top: calc(calc(250px / 2) + calc(10px/2));
}

.container-wrap {
    background-color: var(--white);
    padding-bottom: 25px;
}

nav a {
    display: inline-block;
    transition: all .5s ease-out;
    user-select: none;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    line-height: calc(var(--primary-size) / 1.3);
    height: calc(var(--primary-size) / 1.3);
    width: 100%;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#experience {
    padding-top: 50px;
    margin-top: 50px;
}

.main-header .text {
    padding: 40px 20px;
}

.main-header .text h1 {
    margin: 0;
    font-size: 25pt;
    font-weight: 470;
}

.main-header .text span {
    font-size: 11pt;
}

.container {
    width: 100%;
    margin: auto;
    transition: all .1s ease-out;
}

.profile-picture {
    display: none;
}

.book {
    height: 300px;
}

.language-card {
    text-align: center;
    margin: 50px 0;
}

.language-card h2 {
    margin: 5px 0;
}

.language-card p {
    margin: 0;
}

.language-card img {
    height: 100px;
}

.card .header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
}

.card .header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    background-color: var(--grey);
    color: var(--white);
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    padding: 25px;
}

.main-picture img {
    margin: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
}

.text-container li {
    font-size: 15pt;
}

.timeline {
    position: relative;
    margin: 25px;
    padding: var(--primary-size) 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--blue);
    top: 0;
    bottom: 0;
    left: 31px;
    margin-left: -3px;
}

.card {
    width: calc(100% - 70px);
    padding: 10px 25px 10px 70px;
    position: relative;
    background-color: inherit;
}

.card::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--background);
    border: 4px solid var(--grey);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 0;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
}

.left::after, .right::after {
    left: 15px;
}

.content {
    padding: 85px 25px 85px 25px;
    background-color: var(--background);
    position: relative;
    border-radius: 15px;
    text-align: justify;
    min-height: 200px;
    overflow: hidden;
}

.content h1 {
    font-weight: 450;
    font-size: 22pt;
    margin-bottom: 10px;
}

.content p {
    margin: 10px 0;
    font-size: 13pt;
}

.locale-image {
    user-select: none;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.4;
}

.small {
    display: block;
    font-size: 11pt;
}

.locale {
    position: absolute;
    font-weight: 900;
    bottom: 15px;
    z-index: 1;
    color: var(--white);
    filter: drop-shadow(0 0 2px var(--grey));
}

.locale {
    left: 15px;
}

.card::before {
    left: 60px;
    border: medium solid var(--grey);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--grey) transparent transparent;
}

/* SM */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
   
    nav {
        border-radius: 15px;
    }

    nav a {
        line-height: var(--primary-size);
        height: var(--primary-size);
    }

    .main-header .text {
        padding: 30px 25px;
    }

    .main-header .text h1 {
        font-size: 30pt;
    }

    .main-header .text span {
        font-size: 13pt;
    }

    .about-me-illustration {
        border-bottom-right-radius: 100px;
    }
}

/* MD */
@media (min-width: 768px) {
    .main-picture img {
        border-bottom-left-radius: 200px;
    }

    #about, .experience-intro {
        display: flex;
    }

    #about {
        margin-top: 25px;
    }

    .image-section.full-width {
        margin: 25px;
        width: calc(100% - 50px);
    } 

    .image-section:not(.full-width) {
        margin: 25px;
    }

    .book {
        height: 250px;
    }

    .extra-info:hover {
        box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    }

    .extra-info {
        border-radius: 15px;
        border-top-right-radius: 50px;
        float: right;
        width: 250px;
        margin-right: 50px;
        flex-shrink: 0;
        margin-top: -120px;
        height: fit-content;
        z-index: 1;
        transition: all .2s ease-out;
        user-select: none;
    }

    .main-picture {
        border-radius: 25px;
        border-top-right-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom-left-radius: 200px;
    }

    header {
        display: flex;
        margin-top: 30px;
    }

    nav {
        float: right;
        text-align: right;
        width: 580px;
    }

    .main-picture {
        aspect-ratio: 2.5 / 1;
    }

    nav a {
        padding: 0 20px 0 10px;
        width: unset;
    }

    .container {
        width: 720px;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
        display: block;
        position: relative;
        float: left;
    }

    .main-header {
        width: calc(100% - 150px);
        float: right;
    }
    
    .profile-picture .large-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px solid var(--white);
    }

    .profile-picture .status {
        overflow: hidden;
    }

    .profile-picture .status .before {
        display: inline-block;
    }

    .profile-picture .status .before img {
        width: 32px;
    }

    .profile-picture .status .after {
        display: none;
    }

    .profile-picture .status {
        height: 56px;
        line-height: 56px;
        width: var(--primary-size);
        right: calc(-1 * calc(var(--primary-size) / 4));
        background-color: var(--grey);
        color: var(--white);
        border: 5px solid var(--white);
        border-radius: var(--primary-size);
        font-size: 13pt;
        position: absolute;
        bottom: 0px;
        text-align: center;
        transition: all .2s ease-out;
        user-select: none;
        cursor: pointer;
    }

    .profile-picture .status:hover {
        width: 180px;
        right: calc(-1 * calc(180px / 2));
    }

    .profile-picture .status:hover .before {
        display: none;
    }

    .profile-picture .status:hover .after {
        display: inline-block;
    }

    .main-header .text {
        padding: 0px 20px;
        margin-bottom: 11px;
    }

    .main-header .text h1 {
        font-weight: 400;
    }
}

/* LG */
@media (min-width: 992px) {
    .timeline::after {
        left: 50%;
    }
    
    .left .locale {
        left: unset;
        right: 15px;
    }

    .card {
        width: calc(50% - 80px);
        padding: 10px 40px 10px 40px;
    }

    .left::after {
        left: unset;
    }

    .left::before {
        right: 30px;
        left: unset;
        border: medium solid var(--grey);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent var(--grey);
    }

    .right::before {
        left: 30px;
    }

    .right::after {
        left: -16px;
    }
    
    .right {
        left: 50%;
    }

    .right .content {
        border-bottom-right-radius: 85px;
    }

    .left .content {
        border-bottom-left-radius: 85px;
    }

    header {
        margin-top: 40px;
    }

    footer {
        display: flex;
    }

    .contact-wrapper, #languages {
        margin: 25px;
        width: calc(50% - 50px);
    }

    .language-card {
        display: flex;
        text-align: justify;
    }

    .language-card img {
        margin: 0 25px;
    }

    .contact-wrapper {
        margin-top: 25px;
    }

    .extra-info {
        width: 300px;
    }

    .book {
        height: 300px;
    }

    .container {
        width: 960px;
    }
    .profile-picture .status {
        bottom: 10px;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
    }

    .main-header {
        width: calc(100% - 200px);
    }

    nav {
        border-top-left-radius: 100px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        text-align: center;
        width: 640px;
    }

    nav a {
        padding: 0px 20px;
    }

    .main-header .text {
        padding: 0px 30px;
        margin-bottom: 50px;
        margin-top: 55px;
    }

    .main-header .text span {
        font-size: 15pt;
    }

    .main-header .text h1 {
        font-size: 40pt;
    }

    #contact {
        /* 100% - Image size - its margins + (image border/2) */
        height: calc(calc(calc(100% - 250px) - 50px) + 5px);
    }
}

/* XL */
@media (min-width: 1200px) {
    header {
        margin-top: 50px;
    }

    .container {
        width: 1140px;
    }

    .book {
        width: 350px;
    }

    .profile-picture .status {
        bottom: 20px;
    }

    nav {
        width: 630px;
    }
    
    .profile-picture {
        width: 250px;
        height: 250px;
    }

    .main-header {
        width: calc(100% - 250px);
    }

    .main-header .text {
        padding: 0px var(--primary-size);
        margin: 65px 0 69px 0;
    }
    
    .main-header .text h1 {
        font-weight: 350;
        font-size: 50pt;
    }

    .main-header .text span {
        font-size: 16pt;
    }

    .extra-info {
        width: 350px;
    }
}

/* XXL */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
    .extra-info {
        width: 400px;
    }
}