/* Fonts */
@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik.ttf);
}

/* Global Variables */
:root {}

/* XS */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--grey);
    font-family: Rubik, Helvetica, sans-serif;
}

/* SM */
@media (min-width: 576px) {}

/* MD */
@media (min-width: 768px) {}

/* LG */
@media (min-width: 992px) {}

/* XL */
@media (min-width: 1200px) {}

/* XXL */
@media (min-width: 1400px) {}